* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}

.navbar {
    
        background: black;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        position: sticky;
        top: 0;
        z-index: 999;
      
}

.navbar__container {
display: flex;
justify-content: space-between;
height: 80px;
z-index: 1;
width: 100%;
max-width: 1300px;
margin: 0 auto;
padding: 0 50px;
}

#navbar__logo {
background-color: #ff8177;
background-image: linear-gradient(to top, #ffb814, purple);
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
display: flex;
align-items: center;
cursor: pointer;
text-decoration: none;
font-size: 32px;
}

.fa-gem {
margin-right: 8px;
}

.navbar__menu {
display: flex;
align-items: center;
list-style: none;
text-align: center;
}

.navbar__items {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 16px;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #ffb814;
    color: #fff;
}

.button:hover {
    background: #4837ff;
    transition: all 0.3s, ease;
}

.navbar__links:hover {
color: purple;
transition: all 0.3s, ease;
}

img{
    height: 350px;
    width: 350px;
    border: none;
    outline: none;
}
.text {
    font-size: 25px;
}
#resume {
    background-color: purple;
}
#index {
    
}
